<div class="jumbotron">
  <% if current_user %>
    <h2>Welcome to My Shop!</h2>
    <p class="lead">
    You can find your dream car! 
    </p>
  <% else %>
    <h2>Welcome to My Shop!</h2>
    <p class="lead">
    You can find your dream car! Sign up!
    </p>
  <% end %>
</div>
<%
=begin%>
 <%= link_to "Manage Billing", @portal_session.url %> 
<%
=end%>
<%= render 'product' %>